CENTRAL_API_API_PORT=9001

# true | false: use true for local dev, false for kubernetes deployments
BOT_ENDPOINT_LOCALHOST=
# make sure it corresponds to BOT_API_PORT
BOT_ENDPOINT_PORT=9000
BOT_ENDPOINT_POD_NAME=astro
BOT_ENDPOINT_SERVICE_NAME=bot
BOT_ENDPOINT_NAMESPACE=astro

# make sure it corresponds to the values in the bot service .env file
BOT_SHARD_MANAGER_TOTAL_SHARDS=1
BOT_SHARD_MANAGER_TOTAL_PODS=1
BOT_SHARD_MANAGER_LOGIN_FACTOR=1

# token for authenticating requests to the central api, you should generate a big enough random string
CENTRAL_API_AUTH=
CENTRAL_API_SESSION_COOKIE_NAME=astro-session
# for local dev use localhost, otherwise your domain (example https://astro-bot.space)
CENTRAL_API_SESSION_COOKIE_ALLOW_ORIGIN=http://localhost:3000
CENTRAL_API_SESSION_COOKIE_DOMAIN=
# true | false
CENTRAL_API_SESSION_COOKIE_SECURE=true
# true | false
CENTRAL_API_SESSION_COOKIE_HTTP_ONLY=true
# auth session max duration
CENTRAL_API_SESSION_COOKIE_MAX_AGE_IN_SECONDS=2592000
# 'None' for local dev, 'Strict' for production
CENTRAL_API_SESSION_COOKIE_SAME_SITE=None
# you should remove those two variables, unless you know what you are doing
CENTRAL_API_CORS_ALLOWED_HEADERS=
CENTRAL_API_CORS_ALLOWED_METHODS=

# those refer to the 'bot' service, you can find them in the discord developer portal
DISCORD_APPLICATION_ID=
DISCORD_APPLICATION_TOKEN=
DISCORD_APPLICATION_SECRET=
DISCORD_APPLICATION_REDIRECT_URI=http://localhost:3000/auth/login

# generate a big enough random string
JWT_KEY=

# https://docs.top.gg/docs/Resources/webhooks#security
TOPGG_WEBHOOK_AUTH=