# DEBUG | INFO | WARN | ERROR
LOG_LEVEL=

# token used by kubernetes to authenticate health requests, you should generate a big enough random string
KUBE_LIFECYCLE_AUTHORIZATION=

# true | false
PREMIUM_FEATURES_RESTRICTIONS=
# when you create a discord application and add an SKU, you can see the ID of the sku in the url of the sku page
PREMIUM_FEATURES_SERVER_SKU_ID=
# chargebee plan id for monthly subs
PREMIUM_FEATURES_MONTHLY_PRICE_ID=
# chargebee plan id for yearly subs
PREMIUM_FEATURES_YEARLY_PRICE_ID=

# mongodb connection string
IO_KMONGO_CONNECTION_STRING=mongodb://localhost:27017
IO_KMONGO_DATABASE=AstroDev

# redis uri, here is an example for kubernetes
IO_REDIS_URIS=redis://localhost:6379
# true | false
IO_REDIS_CLUSTER=false

# authentication token for the bot API, you should generate a big enough random string
BOT_API_AUTH=

# true | false
SUPPORT_BOT_ENABLED=
# kubernetes example, but you can use localhost for simpler setups, make sure the port coincides with the SUPPORT_BOT_API_PORT env variable
SUPPORT_BOT_BASE_URL=http://support-bot:9002
# this is mainly for local frontend development
SUPPORT_BOT_ORIGIN_URL=http://localhost:3000
# authentication token for the support bot API, you should generate a big enough random string
SUPPORT_BOT_AUTH=

# https://discord.com/developers/docs/reference#api-versioning
DISCORD_API_BASE_URL=https://discord.com/api
# https://docs.top.gg/docs/API/v1/@introduction#authentication
TOPGG_TOKEN=

# https://docs.sentry.io/api/auth/
SENTRY_AUTH_TOKEN=

CHARGEBEE_SITE_NAME=
# https://www.chargebee.com/docs/billing/2.0/site-configuration/webhook_settings#basic-authentication
CHARGEBEE_WEBHOOK_TOKEN=
# https://www.chargebee.com/docs/billing/2.0/site-configuration/api_keys
CHARGEBEE_API_KEY=

# true | false
BIGQUERY_ENABLED=
BIGQUERY_DATASET_NAME=
# thread pool size for BigQuery client
BIGQUERY_POOL_SIZE=8
# interval in seconds for pushing stats to BigQuery
BIGQUERY_INTERVAL=60
# initial push delay in seconds
BIGQUERY_DELAY=60
# max events to push to BigQuery at once
BIGQUERY_MAX_EVENTS_ENTRY=1000