SUPPORT_BOT_API_PORT=9002

# all those values refer to the support bot
DISCORD_APPLICATION_BOT_ID=
DISCORD_APPLICATION_TOKEN=
DISCORD_APPLICATION_ACTIVITY_TYPE=
DISCORD_APPLICATION_ACTIVITY_TEXT=
DISCORD_APPLICATION_COMMAND_GUILDS=
DISCORD_APPLICATION_WHITELISTED_GUILDS=
# this is the id of the bot that owns the SKUs, so in this case of the 'bot' service
DISCORD_APPLICATION_ENTITLEMENTS_BOT_ID=
# same as above, but for the bot token
DISCORD_APPLICATION_ENTITLEMENTS_BOT_TOKEN=
# id of the guild where the support bot should handle the premium role
DISCORD_APPLICATION_GUILD_ID_FOR_PREMIUM_ROLE=
DISCORD_APPLICATION_PREMIUM_SKU_ID=
DISCORD_APPLICATION_PREMIUM_ROLE_ID=

# if you wanna shard the support bot, provide values, otherwise remove those variables (recommended)
SHARD_MANAGER_CONFIG_TOTAL_SHARDS=
SHARD_MANAGER_CONFIG_TOTAL_PODS=
SHARD_MANAGER_CONFIG_LOGIN_FACTOR=